body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

hr{
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 0px;
}

#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

#answer{
    margin: 0px;
}

.tile{
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present{
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent{
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row{
    width: 530px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 45px;
    height: 51px;
    margin: 3px;

    /* Text */
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.enter-key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 76px;
    height: 51px;
    margin: 3px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}