body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

hr{
    width: 500px;
    margin-top: 3.5px;
    margin-bottom: 0px;
    height: 0.2px;
    background: rgb(138, 136, 136);
}

#title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 0px auto;
    display: inline-block;
}

#header{
    width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.againIcon {
    font-size: 35px;
    color: black;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer; 
    float: left;
} 

.statsIcon {
    font-size: 35px;
    color: black;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer; 
    float: right;
} 

.statsIcon:hover, .againIcon:hover {
color: rgb(95, 94, 94);
}

#board{
    width: 345px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center; 
}

.tile{
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present{
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent{
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row{
    width: 530px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    justify-content: center;
    align-items: center; 
}

.key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 45px;
    height: 51px;
    margin: 3px;
    border-radius: 7px;

    /* Text */
    font-size: 27px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.enter-key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 76px;
    height: 51px;
    margin: 3px;
    border-radius: 7px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

#popup-window {
    position: fixed;
    width: 380px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto; 
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10;
    display: none;
    border-radius: 5px;
    flex-wrap: wrap;
}

#popup-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;

}

#popup-text{
    font-size: 18px;
    margin: 0px;
}

#newgame-button-popupwindow { 
    display: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}

#hide-popupwindow-button { 
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statNum{
    font-size: 27px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.statText{
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 7px;
}

.statsContainer{
    flex: 1;
}

#container{
    display: flex;
    list-style: none;
    margin: 10px;
    align-self: center;
    padding: 0px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(190, 190, 190, 0.5); 
    z-index: 9;
}

.popup-open .popup-overlay {
    display: block;
}

.popup-open #popup-window {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

#forefitDialog{
    border-radius: 5px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border-color: #a5a5a5;
    border-width: 2px;
}

#dialogText1{
    font-weight: bold;
    font-size: 20px;
}

#dialogText2{
    font-size: 17px;
}

#cancelBtn, #forefitBtn{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: #a5a5a5;
}

#chartTitle{
    text-align: left;
    font-size: 20px;
    margin: 7px;
    font-weight: bold;
}

.chartElement{
    padding: 4px;
    padding-right: 6px;
    text-align: right;
    font-size: 14px;
    background-color: rgb(212, 212, 212);
    margin: 5px;
    margin-right: 50px;
    border: 1px solid black;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
}

.index{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    padding: 4px;
}

.wrapperDiv{
    text-align: left;
    display: flex;
}